<html>
  <style>
    table {
      border: 1px solid blue;
      margin: auto;
      width: 100%;
    }

    tr {
      height: 40px;
    }

    td {
      padding: 10px;
      text-align: left;
    }

    .action{
      text-align: center;
    }
  </style>
  <body>
    <h1><em><%- title %></em></h1>
    <br />
    <button
      style="
        background-color: blue;
        border: 1px solid blue;
        color: white;
        font-size: 18px;
        border-radius: 5px;
        padding: 10px;
      "
    >
      <a href="/addProjects" style="text-decoration: none; color: white"
        >ADD PROJECT</a
      >
    </button>

    <!-- <button
      style="
        background-color: blue;
        border: 1px solid blue;
        color: white;
        font-size: 18px;
        border-radius: 5px;
        padding: 10px;
      "
    >
      <a href="/notes" style="text-decoration: none; color: white"
        >VIEW NOTES</a
      >
    </button> -->
    <br /><br />

    <table border="1" cellspacing="0">
      <tr>
        <th>Project ID</th>
        <th>Project Title</th>
        <th>Project Description</th>
        <th>Start Date</th>
        <th>Due Date</th>
        <th>Actions</th>
      </tr>
      <% project_info.forEach(function(proj){ %>
      <tr>
        <td><%= proj.id %></td>
        <td><%= proj.project_title %></td>
        <td><%= proj.project_description %></td>
        <td><%= proj.project_start_dt.toDateString().slice(3) %></td>
        <td><%= proj.project_due_dt.toDateString().slice(3) %></td>
        <td class="action">
          <div>
            <button
            style="
              color: white;
              border: none;
              background-color: orangered;
              padding: 5px;
              font-size: 15px;
              border-radius: 5px;
            "
          >
            <a
              href=" /notes/<%= proj.id %>"
              style="text-decoration: none; color: white"
              >Add Notes</a
            >
          </button>
            <button
              style="
                color: white;
                border: none;
                background-color: blue;
                padding: 5px;
                font-size: 15px;
                border-radius: 5px;
              "
            >
              <a href="/notesinfo/<%= proj.id %>" style="text-decoration: none; color: white"
                >View Notes</a
              >
            </button>

            <button
              style="
                color: white;
                border: none;
                background-color: green;
                padding: 5px;
                font-size: 15px;
                border-radius: 5px;
              "
            >
              <a
                href="edit/<%= proj.id %>"
                style="text-decoration: none; color: white"
                >Edit Project</a
              >
            </button>
            <button
              style="
                color: white;
                border: none;
                background-color: red;
                padding: 5px;
                font-size: 15px;
                border-radius: 5px;
              "
            >
              <a
                href=" delete/<%= proj.id %>"
                style="text-decoration: none; color: white"
                >Delete</a
              >
            </button>
          </div>
        </td>
      </tr>
      <% }); %>
    </table>
  </body>
</html>
